AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BreakBeforeBraces: Allman
ColumnLimit: 0
FixNamespaceComments: false
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
